
@charset "utf-8";
/* CSS Document */

body,
td,
th,
p {
	font: 10pt/1.5 Arial, Helvetica, sans-serif;
	color: #333;
}

body {
    background-color: #fdfdfd;
    margin: 0;
}

a {

	color: orange;
	text-decoration: none;
}

a:hover, 
a:focus {

	color: #3397db;
	text-decoration: none;
}

a img{

	border: none 0 #fff;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  margin: 0 0 20px;
}

article, 
aside, 
canvas, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
menu, 
nav, 
section {

	display: block;
}

figure {
    margin: 0;
    border: 1px solid white;
    border-top-left-radius: 1.2em;
    overflow: hidden;
}

figcaption {
    margin: 5px;
}

#maincontent {
    background-color: #f3f3f3;
}

footer {
    background-color: #444;
    color: #fff;
    font-size: 8pt;
    letter-spacing: 1px;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
}

/* ====================== Navigation ====================== */
.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    z-index: 100;
    padding: 10px;
    color: green;
    background-color: white;
}

.skip-link:focus {
    top: 0;
    background-color: white;
    font-size: 16px;
    color: #135686;
}

nav {
    width: 100%;
    height: 80px;
    background-color: #252831;
    text-align:center;
}

nav h1 {
    margin: auto;
    padding: 25px 0 20px;
}

nav h1 a {
    color: #fff;
    font-size: 12pt;
    font-weight: 200;
    letter-spacing: 5px;
    text-transform: uppercase;
}

#breadcrumb {
    height: 30px;
    padding: 1em 2em;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: auto;
    width: calc(100% - 4em); 
}
 
 /* Display list items side by side */
#breadcrumb li {
    display: inline;
    font-size: 11pt;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "|\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #135686;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
    height: 400px;
    width: 100%;
    background-color: #ccc;
}

#map .leaflet-control-attribution a {
    color:#135686;
}

/* ====================== Restaurant Filtering ====================== */
.select-div,
.label-div {
    display: flex;
    margin: auto;
    width: 100%;
}

.label-div {
    margin-top: 10px;
}

label {
    width: 50%;
    font-size: 10pt;
    color: #FFF2E0;
}

.filter-options {
    width: 100%;
    background-color: #135686;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

.filter-options h2 {
    color: white;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1;
    margin: 0 20px;
}

.filter-options select {

    background-color: white;
    border: 1px solid #fff;
    font-family: Arial,sans-serif;
    font-size: 11pt;
    height: 35px;
    letter-spacing: 0;
    margin: 10px;
    padding: 0 10px;
    width: 50%; 
}

#neighborhoods-select,
#cuisines-select {
    font-size: 1rem;
}


/* ====================== Restaurant Listing ====================== */
#restaurants-list {
    display: grid;
    grid-template-columns: 100%;
    margin: auto;
    padding: 2em 1em;
    background-color: #f3f3f3;
    list-style: outside none none;
    text-align: center;
  }

#restaurants-list li {
    margin: 10px auto 0;
    padding: 0;
    border: 0;
    width: 100%;
    background-color: #fff;
    font-family: Arial,sans-serif;
    min-height: 380px;
    text-align: left;
}

#restaurants-list .restaurant-img {
    max-width: 100%;
    margin: 0;
}

#restaurants-list li h2 {
    color: #f18200;
    font-size: 1.2rem/1.3 Arial,sans-serif;
    font-weight: 200;
    letter-spacing: 0;
    margin: 20px 0 10px;
    text-transform: uppercase;
}

#restaurants-list p {
    margin: 0;
    font-size: 1rem;
}

#restaurants-list li a {
    background-color: #754C00;
    border-bottom: 3px solid #eee;
    color: #fff;
    display: inline-block;
    font-size: 1rem;
    margin: 15px 0 0;
    padding: 8px 30px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

/*=========== Restaurant details ================= */

.inside{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
        "header header"
        "mainc   mainc"
        "mainc   mainc"
        "mainc   mainc"
        "footer footer";
 }

 /*========== Header =========== */

.inside header {
    grid-area: header;
    width: 100%;
    height: 140px;
}

/* ====== Main ============= */
.inside #maincontent {
    grid-area: mainc;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 400px 100% 100%;
}

.inside #map-container {
    background: blue none repeat scroll 0 0;
}

.inside #map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
}

#restaurant-container{
    margin: 2em auto;
    width: 100%;
    text-align: center;
    padding: 0;
    border: 0;
}

#restaurant-name {
    color: black;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 2px;
    margin: 0 0 5px;
    text-transform: uppercase;
}

#restaurant-img {
    max-width: 100%;
}

#restaurant-address {
    font-size: 10pt;
    margin: 10px 0px;
}

#restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 14pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin-bottom: 10px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

table {
    margin: 0 auto;
    width: 100%;
}

#restaurant-hours td {   
    color: #666;
    font-size: 10pt;
    padding: 5px 0;
}

hr {
    width: 70%;
}

#reviews-container {
    margin: 0 auto;
    width: 100%;
}

#reviews-container h2 {
    color: #854400;
    font-size: 24pt;
    font-weight: 300;
    text-align: center;
    margin-bottom: 10px;
}

#reviews-list {
    padding: 0;
}

#reviews-list li { 
    display: block;
    list-style-type: none;
}

#reviews-list li div{
    display: flex;
    background-color: #444;
    padding: 1em;
    border: 1px solid inherit;
    border-top-left-radius: 1.2em;
}

#reviews-list li div p{
    width: 30%;
    font-size: 14pt;
    letter-spacing: 2px;
    color: #fff;
}

#reviews-list li div p:last-child {
    width: 70%;
    text-align: right;
    color: rgb(223, 221, 221);
    letter-spacing: 1px;
    font-size: 10pt;
    padding-top: 4px;
}

#reviews-list li p {
    margin: 10px;
}

.rating {
    background-color: #f8a949;
    width: 30%;
    text-transform: uppercase;
    font-size: 10pt;
    padding: 0.5em;
    border-radius: 0.2em;
    font-weight: bold;
}

.add-modal {
    width: 100%;
    padding: 1em;
    font-size: 12pt;
    font-weight: 700;
    border: none;
    cursor: pointer;
    color:#333;
    letter-spacing: 5px;
}

.comment {
    line-height: 20px;
}

.no-reviews {
    color: red;
    text-align: center;
    font-size: 12pt;
}
/* ====== Modal =============*/
.modal,
.overlay {
    display: none;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: #eee;
    padding: 1em;
    font-size: 1em;
    text-align: center;
    z-index: 7;
}

.modal h3 {
    color:#754C00;
    font-size: 18px;
}

.modal div {
    margin: 10px 0 20px;
}

#restaurant-id {
    display: none;
}

.modal input,
.modal textarea {
    padding: 0.5em;
    width: 90%;
}

.modal label {
    color: black;
    font-size: 16px;
    width: 100%;
}

.modal button {
    padding: 1em;
    margin: 0 10px;
    font-size: 16px;
    background-color: #754C00;
    color: white;
    border: none;
}

.modal button:focus {
    outline: 2px solid red;
}

.overlay {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #363636;
    opacity: 0.8;
}

/*=========foooter ============*/

.inside footer {
    grid-area: footer;
}