
/*============== elements ===========*/
figure {
    margin: auto;
    max-width: 600px;
}

footer {
    font-size: 10pt;
    padding: 25px;
}

/* ====================== Navigation ====================== */
nav h1 a {
    font-size: 14pt;
    letter-spacing: 10px;
}

/* Display list items side by side */
#breadcrumb li {
    font-size: 14pt;
}

/* ====================== Restaurant Filtering ====================== */
.select-div {
    width: 100%;
}

label {
    font-size: 12pt;
}

.filter-options h2 {
    font-size: 1.5rem;
}

#neighborhoods-select,
#cuisines-select {
    font-size: 1.3rem;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
    padding: 2em;
}

#restaurants-list li {
    text-align: center;
}

#restaurants-list li h2 {
    font-size: 1.4rem;
}

#restaurants-list li figure{
    max-width: 600px;
}
#restaurants-list p {
    font-size: 1.2rem;
}

#restaurants-list li a {
    font-size: 1.2rem;
}
  
/*===============Restaurant details================*/

/* ====== Main ============= */
#restaurant-name {
    font-size: 16pt;
}

table{

    width: 90%;
    max-width: 500px;
    border-spacing: 0;
}

#restaurant-hours td {
    font-size: 12pt;
    text-align: left;
}

hr {
    width: 80%;
}

#reviews-container {
    max-width: 600px;
}

.comment {
    font-size: 12pt;
}

.modal {
    max-width: 500px;
}

.modal h3 {
    font-size: 20px;
}

.modal label {
    font-size: 18px;
 }

.modal input,
.modal textarea{
  font-size: 15px;
}

.modal button {
    font-size: 18px;
    margin: 0 20px;
}